.Setting {
margin-top: 3rem;
margin-left: 2rem;
display: flex;

}

.MyProfile {
    margin-top: 2rem;
   
  border-radius: 0.1rem;

  display: grid;
 
  width: 97%;
  border-radius: 0.9rem;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
 

}

.Details>span {
margin-left: 2rem;
margin-top: 1rem;
align-items: center;
}

.LogoutButton{
  margin-right: 3rem !important;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.EditButton{
margin-right: 0.5rem;
}


