.main>button{
    margin-right: 1rem;
}



/* .checkbox>span{
    gap: 3rem;
} */

.NumberField{
    width: 3rem;
    height: 3rem !important;
}

.Number{
    align-items: right;
    justify-content: end;
}

.Required{
    align-items: left;
    justify-content: center;
    left: 1rem;
}

.foot-modal{
    height: 15vh !important;
}


.modal-set{
    left: auto;
}

.modal-dialog{
    overflow-y: initial !important
}
.Top-modal{
    height: 53vh;
    overflow-y: auto;
}

.checkbox-number{
    overflow-y: initial !important;
    left: 2rem !important;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.manual-header{
    margin-left: 17rem !important;
}

.child{
    margin-left: 1rem !important;
}