.EmailSetting{
    margin-top: 3rem;
    margin-left: 2rem;
    display: flex;
    gap: 20rem;
    align-items: center;
    justify-content: center;
}

.Email{
    margin-right: 1rem !important;
    margin-left: auto !important;
  }
  .sendemail-modal{
    display: flex;
  }

 

  .SNo.table{
    width: 3rem;
  }

  .check{
    display: flex;
    align-items: center;
    gap: 3rem;
    /* justify-content: center; */
  }

  /* .more{
    width: 400%;
  } */
 