.emailsettingpage{
    margin-top: 3rem;
    margin-left: 2rem !important;
}

.edit{
    display: flex;
    align-items: center;
}

.editbutton{
    margin-left: auto !important;
    margin-right: 3rem !important;
    align-items: center !important;
}

.header{
    display: flex;
    align-items: center !important;
    margin-bottom: 0.3rem !important;
}

.headerButton{
    margin-left: auto !important;
    margin-right: 2rem !important;
    align-items: center !important;
}

.button-save{
   margin-right: 0.5rem;
  }

.form{
    margin-top: 1rem;
}

.senderbody{
    margin-top: 1rem;
}

.edittemplate{
    display: flex;
    align-items: center;
}

.create-button{
    margin-left: auto;
    margin-right: 3rem;
}

.template-table{
    margin-right: 2rem;
    margin-left: 1rem;
}

.editbutton{
   justify-content: center;
}
.tablecell{
   margin-left: 1rem;
}